@media screen and (max-width: 1300px) {



    .skills .skill {
        font-size: 2.5rem;
    }
    .service-hub {

        margin-top: 10%;
        transform: scale(.1);

    }
    .service-hub p{
        font-size: 1.1rem;
    }
    .service-hub h2{
        font-size: 1.5rem;
        
    }
    .techs img {
        width: 100px;
        height: 100px;
    }

}
@media screen and (max-width: 955px) {
    .about .sub-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .about img {
        width: 150px;
        height: 150px;
    }
    .about .container p {

        margin: 0px;

    }
    .about {
        height: 120vh;
    }
    .info .list1, .list2 li{

        font-size: .9rem;
    }
    .info {
        width: max-content;
        position: relative;

        display: grid;
        grid-template-columns: 200px 200px;
        row-gap: 1px;
        grid-template-areas: 
            "header header"
            "content content"
            "content1 content1";
    }
    .info .list1, .info .list2 {
        width: max-content;
    }
    .projects {
        transition: all 1s ease-in-out;
        height: max-content;

        
    }
    .projects .container .sub1, .sub2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        transition: all 1s ease-in-out;
    }
    .form-container {

        grid-template-columns: 230px 230px;

    }
    .techs img {
        width: 80px;
        height: 80px;


    }

}
@media screen and (max-width: 600px) {
    .techs {
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 50%;
    }
    .skills {
        height: 130vh;
    }
}   
@media screen and (max-width: 500px) {
    .name h1 {
        font-size: 2.5rem;
    }
    .name h2 {
        font-size: 2.2rem;
    }
    .name p {
        font-size: 1.3rem;
    }

    .emailCon {
        border-radius: 10px;
        width: 120px;        
    }
    .emailCon h3{
       font-size: .9rem;
    }
    .skills .skill {
        font-size: 1rem;
    }
    .service-hub {

        margin-top: 10%;
        transform: scale(.1);

    }
    .service-hub p{
        font-size: 1.1rem;
    }
    .service-hub h2{
        font-size: 1.5rem;
        
    }
    .techs img {
        width: 75px;
        height: 75px;
    }
    
    .form-container {

        grid-template-columns: 150px 150px;
        grid-template-rows: 25px 25px;
    }
    .arrow {

        bottom: 5%;
        left: 5%;

    }
    .contact h1{
        font-size: 3.3rem;
    }
    .service-hub {
        width: 100px;
        height: 300px;
    }
    .service-hub h2{
        font-size: 1rem;
    }
    .service-hub p{
        font-size: 1rem;
    }
    .service-hub img{
        width: 80px;
        height: 80px;
    }
    .info {
        width: max-content;
        position: relative;

        display: grid;
        grid-template-columns: 150px 150px;
        row-gap: 1px;
        grid-template-areas: 
            "header header"
            "content content"
            "content1 content1";
    }
    .about {
        height: 140vh;
    }
}



