@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans&family=Press+Start+2P&family=Raleway:ital,wght@1,900&family=Roboto+Condensed&family=Secular+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    
}
html {
    scroll-behavior: smooth;


}

body {
    background-color: #141414;
    transition: 1s ease;
    
}

.hero {
    color: whitesmoke;
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(279547.jpg);
    background-size: cover;
    animation: 2s name1;
}

.name {
    position: relative;
    top: 30%;
    animation: 5s name1;
    
    
}
.name h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    animation: none;
    transition: 1s ease all;
}
.name h2 {
    font-size: 3rem;
    transition: 1s ease all;
    font-family: 'Roboto Condensed', sans-serif;
}
.name p {
    transition: 1s ease all;
    font-weight: bold;
    margin-bottom: 60px;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
span {
    color: linear-gradient(#3a9bdc,#5579c6);
    color: #3a9bdc;
   
}

.social img {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}
.name h3 {
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    background: none;
    color: #17181b;
    
}
.emailCon {
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 150px;
    background-image: linear-gradient(#E5E6E4, #FFFFFF);
    transition: all .5s ease;
    cursor: pointer;
    
}
.emailLogo {
    width: 20px;
    height: 20px;
}
.emailCon:hover{
    background-image: none;
    background-image: linear-gradient(#3a9bdc,#5579c6);
    color: #f5f5f5;
}
.emailCon:hover > h3{

    color: #f5f5f5;
}

.skills {
    padding: 0 10%;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    background-color: #141414;
    opacity: 1;
    transition: 500ms all;
    position: relative;
    overflow: hidden;
    
}



.skills .container {
    background-color: #17181b;
    width: 300px;
    height: 310px;
    box-shadow: 5px 5px 5px black;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 0;
    top: 5%;
    transition: 1.2s;

}
.legend {
    margin-top: 12px;
}



.service {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service-hub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 3%;
    transform: scale(.5);
    transition: .5s all ease;
}
.service-hub p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 60px;
    font-size: 1.5rem;
}
.service-hub h2{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.service img {
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px#E5E6E4 solid;
    background-image: linear-gradient(#3a9bdc,#5579c6);
}
.skills .skill {
    position: relative;
    top: 3%;
    opacity: 0;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .2cm;
    transition: 1s all ease;
    left: 30%;
    
    transform: translateX(-30%);
    text-align: center;
}
.techs {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    left: 50%;
    transform: translateX(-50%);
}
.techs img {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    margin: 20px;
    transform: rotate(0deg);
    transition: .5s ease all;
    transition: transform 2s ease ;
    background-color: #E5E6E4;
    transition: 1s all ease;
}

.techs img:hover {
    background-color: whitesmoke;
    border: 3px solid black;

}

.svg {
    width: 100%;
    transform: translateY(2%);
}

.about {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(pexels-pixabay-373076.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    overflow: hidden;
}
.about img {
    width: 250px;
    height: 250px;
}
.about .container {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    font-size: 25px;
    padding: 30px;
    padding-top: 60px;
    opacity: 0;
    transition: 2s all ease-in-out;
    width: 100%;
}
.about .sub-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 1s ease;
}
.info {
    max-width:fit-content;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 300px 350px;
    row-gap: 25px;
    grid-template-areas: 
        "header header"
        "header1 header1"
        "content content1"
        ;
}
.about .container h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5579c6;
}
.about .container p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}
.info h1 {
    grid-area: header;
    font-size: 1.2em;
    color: #5579c6;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.info p {
    grid-area: header1;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 0;
    
    font-weight: bold;
}

.info .list1 {
    
    grid-area: content;
    font-family: 'Roboto Condensed', sans-serif;

}
.info .list2 {
    grid-area: content1;    
    
}
.info .list1, .list2 li{
    list-style-type: none;
    font-size: 1.2rem;

    
}
.info .list1 li{
    font-weight: bold;
    margin: 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.info .list2 li{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
}


.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #f3f3f3;
    padding-top: 5%;
    overflow: hidden;
   
    
}

.projects .container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
}
.projects .container .sub1, .sub2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    transition: all 1s ease-in-out;
}

.projects .container img {
    width: 100%;
    height: 70%;
    transition: all 1s ease-in-out;
}
.projects .container .link img {
    width: 30px;
    height: 30px;
}
.link {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255,.7);
    height: 70%;
    
}

.projects .link img {
    cursor: pointer;
}
.pro1:hover > .link{
    display: flex;
}

.projects .container .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    /*border: 1px solid white;*/
    position: relative;
}


.projects h1, .projects p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.proh1 {
    font-size: 4.2rem;
}
.projects .link h1 {
    font-size: 2.1rem;
}
.project {
    width: 300px;
    height: 350px;
} 
.projects p {
    font-size: 15px;
}
.pro1 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;
    border-radius: 25px;

}
.pro1:hover {
    transform: scale(1.1);
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1));
    
}

.overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    transition: all 1s ease;
    opacity: 0;
}
.overlay .content {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 70%;
    background: #E5E6E4;
    font-size: large;
    border-radius: 30px;
    transform: scale(.01);
    transition: 1s all;
}
.overlay .content {
    text-align: justify;
    line-height: 25pt;
}
.overlay .content h1{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5%;
}
.overlay .content p{
    font-family: 'Roboto Condensed', sans-serif;
}
.contact {
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.form-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 50px 50px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
        "name email"
        "subject subject"
        "message message"
        ;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    color: #1c1c1c;
    color: #f5f5f5;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5%;
}
.contact h1, .contact p{
    font-family: 'Roboto Condensed', sans-serif;
}

.contact h1{
    font-size: 4.2rem;
    color: #5579c6;
    font-weight: bold;
    transition: all 1s ease;
}
.contact p{
    font-size: 1.3rem;
}

.contact #name {
    grid-area: name;
    border: none;
    outline:none;
    padding: 10px;
    color: #FFFFFF;
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#email {
    grid-area: email;
    border: none;
    outline:none;
    padding: 10px;
    color: #FFFFFF;
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#subject {
    grid-area: subject;
    border: none;
    outline:none;
    padding: 10px;
    color: #FFFFFF;
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#message {
    grid-area: message;
    resize: none;
    height: 200px;
    border: none;
    outline:none;
    padding: 10px;
    color: #FFFFFF;
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#messageme {
    color: white;
    width: 200px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5579c6;
    border: 2px solid#5579c6;
    font-family: 'Press Start 2P', cursive;
    margin-left: 32%;
    cursor: pointer;
    transition: .5s ease;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

#messageme:hover {
    transform: scale(1.1);
}
.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: 2s all ease;
    cursor: pointer;
    transition: all 1s ease;
}
@keyframes Intro {
    from {
        left: -10%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes Intro2 {
    from {
        right: 0%;
        opacity: 0;
    }
    to {
        right: 10%;
        opacity: 1;
    }
}

@keyframes Intro3 {
    from {
        clip-path: polygon(47% 53%, 47% 53%, 47% 53%, 47% 52%, 46% 52%, 47% 52%);
    }
    to {
        clip-path: polygon(0 0, 45% 0, 100% 0, 100% 100%, 47% 100%, 0 100%);
    }
    
}

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes name1 {
    from {
        opacity: 0.5;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        opacity: 1  ;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}



