@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:wght@700&family=Raleway:ital,wght@1,900&family=Roboto+Condensed&family=Secular+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}
html {
    scroll-behavior: smooth;

}

body {
    background-color: #141414;
    
}

.hero {
    color: whitesmoke;
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/images/279547.jpg);
    background-size: cover;
    animation: 2s name1;
}

.name {
    position: relative;
    top: 30%;
    animation: 5s name1;
    
}
.name h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    animation: none;
}
.name h2 {
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.name p {
    font-weight: bold;
    margin-bottom: 60px;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
span {
    color: linear-gradient(#3a9bdc,#5579c6);
    color: #3a9bdc;
   
}

.social{
    
    position: relative;
    top: 20%;
    right: 30%;
    width: 100px;
    height: 100px;
    background-color: #1c1c1c;
    border-radius: 1000px;
    cursor: pointer;
}
.social img {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}
.name h3 {
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    background: none;
    color: #17181b;
    
}
.emailCon {
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 150px;
    background-image: linear-gradient(#E5E6E4, #FFFFFF);
    transition: all .5s ease;
    cursor: pointer;
    
}
.emailLogo {
    width: 20px;
    height: 20px;
}
.emailCon:hover{
    background-image: none;
    background-image: linear-gradient(#3a9bdc,#5579c6);
    color: #f5f5f5;
}
.emailCon:hover > h3{

    color: #f5f5f5;
}
/*.emailCon::after {
    content: "Copy";
    position: absolute;
    left: 28%;
    top: 78%;
    opacity: 0;
    transition: 500ms all;
}*/
.skills {
    padding: 0 10%;
    color: whitesmoke;
    width: 100%;
    height: 90vh;
    background-color: #141414;
    opacity: 1;
    transition: 500ms all;
    position: relative;
    overflow: hidden;
}



.skills .container {
    background-color: #17181b;
    width: 300px;
    height: 310px;
    box-shadow: 5px 5px 5px black;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 0;
    top: 5%;
    transition: 1.2s;

}
.legend {
    margin-top: 12px;
}
.list h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
/*
.list .Advance{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #86b049
}
.list .Intermediate{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0583d2;
}
.list .Basic{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc77d;
}
.list .Entry{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #999999;
}
*/
.service {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service-hub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 3%;
    transform: scale(.5);
    transition: .5s all ease;
}
.service-hub p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 60px;
    font-size: 1.5rem;
}
.service-hub h2{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.service img {
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px#E5E6E4 solid;
    background-image: linear-gradient(#3a9bdc,#5579c6);
}
.skills .skill {
    margin-top: 5%;
    position: relative;
    opacity: 0;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .2cm;
    transition: 1s all ease;
}
.techs {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -50%;
    opacity: 0;
    transition: all 3s ease;

}
.techs img {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    margin: 20px;
    transform: rotate(0deg);
    transition: .5s ease all;
    transition: transform 2s ease ;
    background-color: #E5E6E4;
   
}

.techs img:hover {
    background-color: whitesmoke;
    border: 3px solid black;

}

/*.html {
    background-color: #0583d2;
}

.css {
    background-color: #ffc77d;
}
.js {
    background-color: #ffc77d;
}
.node {
    background-color: #999999;
}
.react {
    background-color: #999999;
}
.python {
    background-color: #ffc77d;
}
.java {
    background-color: #ffc77d;
}*/
.svg {
    width: 100%;
    transform: translateY(2%);
}

.about {
    position: relative;
    background-color: #f3f3f3;
    width: 100%;
    height: 40vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}
.about img {
    width: 250px;
    height: 250px;
}
.about .container {
    background-color: #f3f3f3;
    color: black;
    position: absolute;
    top: -30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    height: 600px;
    font-size: 25px;
    padding: 30px;
    padding-top: 60px;
    opacity: 0;
    /*box-shadow:
        2.2px 2.3px 2.2px rgba(0, 0, 0, 0.053),
        5.2px 5.5px 5.3px rgba(0, 0, 0, 0.077),
        9.8px 10.4px 10px rgba(0, 0, 0, 0.095),
        17.4px 18.5px 17.9px rgba(0, 0, 0, 0.113),
        32.6px 34.7px 33.4px rgba(0, 0, 0, 0.137),
        78px 83px 80px rgba(0, 0, 0, 0.19);*/
    transition: 2s all ease-in-out;
}
.about .sub-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 300px 350px;
    row-gap: 25px;
    grid-template-areas: 
        "header header"
        "header1 header1"
        "content content1"
        ;
}
.about .container h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5579c6;
}
.about .container p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}
.info h1 {
    grid-area: header;
    font-size: 1.2em;
    color: #5579c6;
    font-family: 'Roboto Condensed', sans-serif;
}
.info p {
    grid-area: header1;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 0;
    
    font-weight: bold;
}

.info .list1 {
    
    grid-area: content;
    font-family: 'Roboto Condensed', sans-serif;

}
.info .list2 {
    grid-area: content1;    
    
}
.info .list1, .list2 li{
    list-style-type: none;
    font-size: 1.2rem;

    
}
.info .list1 li{
    font-weight: bold;
    margin: 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.info .list2 li{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 30px 0;
    width:max-content;
    font-family: 'Roboto Condensed', sans-serif;
}


.projects {
    margin-top: -5%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #f3f3f3;
    
}

.projects .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
}
.projects .container .sub1, .sub2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.projects .container img {
    width: 100%;
    height: 70%;
}
.projects .container .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    /*border: 1px solid white;*/
    position: relative;
}

.projects h1, .projects p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.project {
    width: 300px;
    height: 350px;
} 
.projects p {
    font-size: 15px;
}
.pro1 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;

}
.pro1:hover {
    transform: scale(1.1);
}


@keyframes Intro {
    from {
        left: -10%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes Intro2 {
    from {
        right: 0%;
        opacity: 0;
    }
    to {
        right: 10%;
        opacity: 1;
    }
}

@keyframes Intro3 {
    from {
        clip-path: polygon(47% 53%, 47% 53%, 47% 53%, 47% 52%, 46% 52%, 47% 52%);
    }
    to {
        clip-path: polygon(0 0, 45% 0, 100% 0, 100% 100%, 47% 100%, 0 100%);
    }
    
}

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes name1 {
    from {
        opacity: 0.5;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        opacity: 1  ;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}